In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

In [2]:
print("values are :" 'hello', -87.8 , 6)

values are :hello -87.8 6

In [ ]:
"expressions are :"- , + , /

## 2. What is the difference between string and variable?

##### String: It is basically considered a datatype which contains sequence of elements typically character.

##### variable : variable is nothing but a datatype that store a value in a memory for further utilization of that variable

## 3. Describe three different data types

##### A:Integers â€“ This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.

##### B:A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.

##### C:Lists are just like the arrays, declared in other languages which is a ordered collection of data.

# 4. What is an expression made up of? What do all expressions do?

##### An expression is a combination of operators and operands that is interpreted to produce some other value

###### all expressions are interpreted to produce a single outcome

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression evaluates to a value

A statement executes something

In [9]:
#Example: 
4+ 16

20

In [10]:
#statement example
x=3
print(x)

3

# 6. After running the following code, what does the variable bacon contain?

In [11]:
bacon = 22
bacon + 1

23

# 7. What should the values of the following two terms be

In [13]:
'spam' + 'spamspam'

'spamspamspam'

In [14]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

variable name cannot begin with a number

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

 int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [15]:
#Error occurs beacause we are concatenating different datatypes, here 99 is not a string.
#so solution would be

'i have eaten' + '99' + 'burritos'

'i have eaten99burritos'