# 1.What are the two values of the Boolean data type? How do you write them?

The two values of boolean data types : 0 and 1

we write them as True and False

# 2. What are the three different types of Boolean operators?

three different boolean operators are and or not

# 3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

## AND Truth Table

 x	and	y	Returns

True	and	True	True

True	and	False	False

False	and	True	False

False	and	False	False

In [7]:
x =5 
y = 7
x ==5 and y ==7

True

In [8]:
x ==5 and y == 6

False

In [9]:
x ==3 and y ==7

False

In [10]:
x ==4 and y == 5

False

# OR Truth Table

True	or	True	:True

True	or	False	:True

False	or	True	:True

False	or	False	:False

In [12]:
x =5
y=9

In [13]:
x == 5 or y == 9

True

In [14]:
x ==5 or y ==10

True

In [15]:
x == 3 or y ==9

True

In [16]:
x ==2 or y ==0

False

# NOT Truth Table

not	True	:False

not	False	:True

In [20]:
not (5 > 4)

False

# 4. What are the values of the following expressions?

In [19]:
(5 > 4) and (3 == 5)

False

In [21]:
not (5 > 4)

False

In [22]:
(5 > 4) or (3 == 5)

True

In [23]:
not ((5 > 4) or (3 == 5))

False

In [24]:
(True and True) and (True == False)

False

In [25]:
(not False) or (not True)

True

# 5. What are the six comparison operators?

Less than ( < )

Less than or equal to (<=)

Greater than (>)

Greater than or equal to (>=)

Equal to ( == )

Not equal to ( != )

In [29]:
4 < 5

True

In [30]:
5 < 4

False

In [31]:
4 <= 5

True

In [32]:
5 >4

True

In [33]:
4!=3

True

In [34]:
4 == 4

True

# 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

In [36]:
#let say
a = 5
#its and assignment operatorassign value 5 to variable a

In [37]:
a

5

In [38]:
#"==" operator verifieswhether two operamds are equalor not
5 == 5

True

# 7. Identify the three blocks in this code:

In [42]:
spam = 0

if spam == 10:
    
    print('eggs')
 #first block

if spam > 5:
    print('bacon')
 #second block
else:
    print("this is third block")
    print('ham')
    print('spam')
    print('spam')

this is third block
ham
spam
spam

# 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [46]:
spam = 1
if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings")

Hello

# 9.If your programme is stuck in an endless loop, what keys you’ll press?

ctrl plus c in a terminal or cmd

or can use break statement

# 10. How can you tell the difference between break and continue?

break and continue statements can alter the flow of a normal loop.

The break statement terminates the loop containing it. Control of the program flows to the statement immediately after the body of the loop.

In [51]:
# Use of break statement inside the loop

for val in "string":
    if val == "i":
        break
    print(val)

#print("The end")

s
t
r

##### The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [52]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

#print("The end")

s
t
r
n
g

# 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

## The range() is an in-built function in Python. It returns a sequence of numbers starting from zero and increment by 1 by default and stops before the given number.

In [53]:
for i in range(10):
    print(i)
#it will print 10 numbers from 0 to 9 excluding given number

0
1
2
3
4
5
6
7
8
9

In [55]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [59]:
for i in range(0,10,1):
    print(i)
#it willalos print thesabe above result but if we increasde the jump from 1 to 2 it will print

0
1
2
3
4
5
6
7
8
9

In [60]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

# 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [61]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
i = 0
#while i<10:
    #print(i)
    #break

In [1]:
i = 0
while(i<=10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

# 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

In [ ]:
#first import thaty module
import spam
x = spam.bacon()